<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OTV_JSF_PrimeFaces_Hibernate</display-name>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
		<!-- <param-value>Production</param-value> -->
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>humanity</param-value>
	</context-param>
	<context-param>
		<description>Contact phone number</description>  
		<param-name>phone</param-name>
		<param-value>
          <![CDATA[
        	(067) 555-55-55 <br />
        	(050) 222-22-22 <br />
          	]]>
        </param-value>
	</context-param>
	<context-param>
		<description>Business hours</description>  
		<param-name>working_hours</param-name>
		<param-value>
          <![CDATA[
        	Пн-Пт: 09:00 - 18:00 <br />
        	Сб,Вс: 12:00 - 16:00 <br />
          	]]>
        </param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>/pages/default.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
</web-app>